.menuTitle {
  position: relative;
  span {
    text-align: center;
  }
  i {
    display: none;
    margin-right: 0px !important;
    position: absolute;
    right: -15px;
    top: -4px;
  }
  &:hover {
    i {
      display: block;
    }
  }
}
